@lineColor:#E5E5E5;
@bluecolor:#00c8fb;
@strongColor:#7b7b7b;
@fadeColor:#bbbbbb;
@contentColor:#000;
@graycolor:#f2f2f2;
@redColor:#fd794a;
@yellowColor:#f9f273;
@scenecolor:#30cc67;
@shopcolor:#44ceb9;
@productcolor:#fd794a;
body{
    padding: 0;margin: 0;
    overflow-x: hidden;
}
.app-container{
    padding-top: 64px;
    
    overflow: hidden;
}
.frame{
    display: flex;
    height: 100%;
    overflow-x: hidden;
}
.leftPart{
    display: inline-block;
    width:200px;

}
.container-right{
    display: inline-block;
    flex: 1;
    background-color: #fff;
    overflow-y: scroll;
    
}
.container{
    background-color: #fff;
}